@import url(https://fonts.googleapis.com/css?family=Oswald:700,300);
/* SECTION1 */

html,
h1{
    color:black;
    background-color: white
    font-size:20cm;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}
p{
    color:black;
    background-color: white
    font-size: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;     
}
.checked {
    color: orange;
  }
.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
 
 
  .red {
    height: 25px;
    width: 25px;
    background-color:red;
    border-radius: 50%;
    display: inline-block;
  }
  .brown {
    height: 25px;
    width: 25px;
    background-color:brown;
    border-radius: 50%;
    display: inline-block;
  }
  .blue {
    height: 25px;
    width: 25px;
    background-color:blue;
    border-radius: 50%;
    display: inline-block;
  }
  .black{
    height: 25px;
    width: 25px;
    background-color:black;
    border-radius: 50%;
    display: inline-block;
  }
  .yellow{
    height: 25px;
    width: 25px;
    background-color:yellow;
    border-radius: 50%;
    display: inline-block;
    
  }
  .midnightblue{
    height: 25px;
    width: 25px;
    background-color:midnightblue;
    border-radius: 50%;
    display: inline-block;
    
  }
  .plum{
    height: 25px;
    width: 25px;
    background-color: plum;
    border-radius: 50%;
    display: inline-block;
    
  }
  .powderblue{
    height: 25px;
    width: 25px;
    background-color: powderblue;
    border-radius: 50%;
    display: inline-block;
    
  }
  .springgreen{
    height: 25px;
    width: 25px;
    background-color: springgreen;
    border-radius: 50%;
    display: inline-block;
    
  }
  .palevioletred{
    height: 25px;
    width: 25px;
    background-color: palevioletred;
    border-radius: 50%;
    display: inline-block;
    
  }
  .burlywood{
    height: 25px;
    width: 25px;
    background-color: burlywood;
    border-radius: 50%;
    display: inline-block;
        
  }
  .teal{
    height: 25px;
    width: 25px;
    background-color: teal;
    border-radius: 50%;
    display: inline-block;
        
  }
  .darkolivegreen{
    height: 25px;
    width: 25px;
    background-color: darkolivegreen;
    border-radius: 50%;
    display: inline-block;
        
  }
  .slategrey{
    height: 25px;
    width: 25px;
    background-color: slategrey;
    border-radius: 50%;
    display: inline-block;
        
  }
  .darkgreen{
    height: 25px;
    width: 25px;
    background-color: darkgreen;
    border-radius: 50%;
    display: inline-block;
        
  }
  .turquoise{
    height: 25px;
    width: 25px;
    background-color: turquoise;
    border-radius: 50%;
    display: inline-block;
        
  }
  .lightgray{
    height: 25px;
    width: 25px;
    background-color: lightgray;
    border-radius: 50%;
    display: inline-block;
        
  }
}
/*SECTION4*/
$quantity-btn-color: #95d7fc;
.product {
	width: 30%;
	margin: 30px;
}
.form-group {
	width: 30%;
	margin: 30px;
	.glyphicon {
		color: #black;
	}
}